<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tt.TbQuestionListMapper">
	<resultMap id="TbQuestionListResultMap" type="com.tt.TbQuestionListBean">
	</resultMap>
	<select id="TbQuestionListSelect" resultMap="TbQuestionListResultMap">
		select * from t_tb_question_list
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="question_id!= null ">
				t_tb_question_list.question_id= #{question_id}
			</if>
			<if test="question_msg!= null ">
				and t_tb_question_list.question_msg= #{question_msg}
			</if>
			<if test="question_img!= null ">
				and t_tb_question_list.question_img= #{question_img}
			</if>
			<if test="question_answers!= null ">
				and t_tb_question_list.question_answers= #{question_answers}
			</if>
			<if test="question_true_answer!= null ">
				and t_tb_question_list.question_true_answer= #{question_true_answer}
			</if>
			<if test="question_score!= null ">
				and t_tb_question_list.question_score= #{question_score}
			</if>
			<if test="last_modify_tlr_id!= null ">
				and t_tb_question_list.last_modify_tlr_id= #{last_modify_tlr_id}
			</if>
			<if test="last_modify_prg_id!= null ">
				and t_tb_question_list.last_modify_prg_id= #{last_modify_prg_id}
			</if>
			<if test="last_modify_tm!= null ">
				and t_tb_question_list.last_modify_tm= #{last_modify_tm}
			</if>

		</trim>
		limit #{currIndex} , #{pageSize}
	</select>
	<select id="TbQuestionListSelectCount" resultMap="java.lang.Integer">
		select count(*) from t_tb_question_list
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="question_id!= null ">
				t_tb_question_list.question_id= #{question_id}
			</if>
			<if test="question_msg!= null ">
				and t_tb_question_list.question_msg= #{question_msg}
			</if>
			<if test="question_img!= null ">
				and t_tb_question_list.question_img= #{question_img}
			</if>
			<if test="question_answers!= null ">
				and t_tb_question_list.question_answers= #{question_answers}
			</if>
			<if test="question_true_answer!= null ">
				and t_tb_question_list.question_true_answer= #{question_true_answer}
			</if>
			<if test="question_score!= null ">
				and t_tb_question_list.question_score= #{question_score}
			</if>
			<if test="last_modify_tlr_id!= null ">
				and t_tb_question_list.last_modify_tlr_id= #{last_modify_tlr_id}
			</if>
			<if test="last_modify_prg_id!= null ">
				and t_tb_question_list.last_modify_prg_id= #{last_modify_prg_id}
			</if>
			<if test="last_modify_tm!= null ">
				and t_tb_question_list.last_modify_tm= #{last_modify_tm}
			</if>

		</trim>
	</select>


	<insert id="TbQuestionListInsert" parameterType="com.tt.TbQuestionListBean">
		insert into t_tb_question_list
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="question_id != null">
				question_id,
			</if>
			<if test="question_msg != null">
				question_msg,
			</if>
			<if test="question_img != null">
				question_img,
			</if>
			<if test="question_answers != null">
				question_answers,
			</if>
			<if test="question_true_answer != null">
				question_true_answer,
			</if>
			<if test="question_score != null">
				question_score,
			</if>
			<if test="last_modify_tlr_id != null">
				last_modify_tlr_id,
			</if>
			<if test="last_modify_prg_id != null">
				last_modify_prg_id,
			</if>
			<if test="last_modify_tm != null">
				last_modify_tm,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="question_id != null">
				#{question_id,jdbcType=INTEGER},
			</if>
			<if test="question_msg != null">
				#{question_msg,jdbcType=VARCHAR},
			</if>
			<if test="question_img != null">
				#{question_img,jdbcType=VARCHAR},
			</if>
			<if test="question_answers != null">
				#{question_answers,jdbcType=VARCHAR},
			</if>
			<if test="question_true_answer != null">
				#{question_true_answer,jdbcType=VARCHAR},
			</if>
			<if test="question_score != null">
				#{question_score,jdbcType=INTEGER},
			</if>
			<if test="last_modify_tlr_id != null">
				#{last_modify_tlr_id,jdbcType=VARCHAR},
			</if>
			<if test="last_modify_prg_id != null">
				#{last_modify_prg_id,jdbcType=VARCHAR},
			</if>
			<if test="last_modify_tm != null">
				#{last_modify_tm,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<delete id="TbQuestionListDelete" parameterType="com.tt.TbQuestionListBean">
		delete from t_tb_question_list where
		<trim suffix="" suffixOverrides="and">
			<if test="question_id != null">
				question_id=#{question_id,jdbcType=INTEGER} and
			</if>
		</trim>
	</delete>

	<update id="TbQuestionListUpdate" parameterType="com.tt.TbQuestionListBean">
		update t_tb_question_list
		<set>
			<if test="question_msg != null">
				question_msg=#{question_msg,jdbcType=VARCHAR},
			</if>
			<if test="question_img != null">
				question_img=#{question_img,jdbcType=VARCHAR},
			</if>
			<if test="question_answers != null">
				question_answers=#{question_answers,jdbcType=VARCHAR},
			</if>
			<if test="question_true_answer != null">
				question_true_answer=#{question_true_answer,jdbcType=VARCHAR},
			</if>
			<if test="question_score != null">
				question_score=#{question_score,jdbcType=INTEGER},
			</if>
			<if test="last_modify_tlr_id != null">
				last_modify_tlr_id=#{last_modify_tlr_id,jdbcType=VARCHAR},
			</if>
			<if test="last_modify_prg_id != null">
				last_modify_prg_id=#{last_modify_prg_id,jdbcType=VARCHAR},
			</if>
			<if test="last_modify_tm != null">
				last_modify_tm=#{last_modify_tm,jdbcType=VARCHAR},
			</if>
		</set>
		where
		<trim suffix="" suffixOverrides="and">
			<if test="question_id != null">
				question_id=#{question_id,jdbcType=INTEGER} and
			</if>
		</trim>
	</update>
</mapper>

